page-login {
    background: color($colors, primary, base) !important;
    ion-content {
        background: color($colors, primary, base) !important;
    }
    .login {
        .form {
            padding-top: 3em;
            padding-bottom: 50px;
            h2 {
                color: color($colors, darker, base);
                text-align: center;
                font-size: 1.4em;
                font-weight: 600;
            }
            p {
                color: color($colors, darker, base);
                text-align: center;
                font-size: 13px;
                max-width: 80%;
                margin: 0 auto 2em;
                line-height: 1.5;
            }
            ion-item {
                padding-left: 0 !important;
                // disable Android input bottom border
                &.item-md .item-inner {
                    border-bottom: none !important;
                    box-shadow: none !important;
                }
            }
            button {
                margin-top: 1em !important;
                border-radius: $card-radius !important;
            }
            ion-input {
                padding: 0 $content-padding;
                input {
                    &::placeholder {
                        color: #c4c4c4;
                    }
                }
            }
        }
        .register {
            position: absolute;
            bottom: $content-padding;
            left: $content-padding;
            right: $content-padding;
        }
    }
}