page-login {
    background: color($colors, primary, base) !important;
    ion-content {
        background: color($colors, primary, base) !important;

        .scroll-content {
            // fixes keyboard opening scrolling view
            overflow-y: hidden !important;
            padding-bottom: 0 !important;
        }
    }
    .login {
        .form {
            margin-top: 3em;
            h2 {
                color: color($colors, darker, base);
                text-align: center;
                font-size: 1.4em;
                font-weight: 600;
            }
            p {
                color: color($colors, darker, base);
                text-align: center;
                font-size: 13px;
                max-width: 80%;
                margin: 0 auto 2em;
                line-height: 1.5;
            }
            ion-item {
                padding-left: 0 !important;
            }
            button {
                margin: 0 !important;
                border-radius: $card-radius !important;
            }
            ion-input {
                padding: 0 $content-padding;
            }
        }
        .register {
            margin: 3em 0;
        }
    }
}