page-launch-roadblock {
    ion-content {
        background: color($colors, primary, base) !important;
        color: color($colors, darker, base);
        text-align: center;
        .scroll-content {
            display: flex;
        }
        .message {
            flex: 1 0;
            align-self: center;
            ion-icon {
                font-size: 5em;
                color: color($colors, brand-dark, base);
            }
            p {
                font-size: 1.3em;
                font-weight: 300;
                line-height: 1.6;
            }
        }
    }
}