ion-tabs {
    >.tabbar {
        // hide tab text
        .tab-button-text {
            display: none !important;
        }
        $tab-icon-size: 32px;
        ion-icon {
            min-width: $tab-icon-size !important;
            width: $tab-icon-size !important;
            height: $tab-icon-size !important;
            margin: 0 !important; // removed tab text, don't need any margins
            // icon masking
            mask-size: contain;
            mask-repeat: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            transition: color 0.1s ease-out;
        }
        .ion-ios-tab-balance,
        .ion-ios-tab-balance-outline {
            mask-image: url(../../assets/img/tab-balance.svg);
        }
        .ion-ios-tab-history,
        .ion-ios-tab-history-outline {
            mask-image: url(../../assets/img/tab-history.svg);
        }
    }
}