card-selector {
    .title {
        display: flex;
        flex-direction: column;
        padding-left: 1.3em;
        .id {
            font-size: 75%;
            margin-top: 0.3em;
        }
    }
}

.cardSelectorPopover {
    .popover-content {
        width: 100%;
    }
}