<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button (click)="close()">Cancel</button>
        </ion-buttons>
        <ion-title>
            {{title()}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="note">
        Top ups online may take <span style="font-weight:600">up to 24 hours to process</span>. If you plan to travel sooner, PTV recommends you top up at a myki machine, myki retail shop or ticket office.
    </div>

    <div class="loading" [hidden]="!loading">
        <ion-spinner name="crescent"></ion-spinner>
        <div class="text">Loading top up</div>
    </div>

    <div [hidden]="loading">
        <div *ngIf="isTopupMoney()">
            <form [formGroup]="formTopupMoney">
                <ul class="card-list">
                    <ion-item no-lines>
                        <ion-label>Top up amount ($)</ion-label>
                        <ion-input type="number" formControlName="moneyAmount" clearOnEdit></ion-input>
                    </ion-item>
                </ul>
                <div class="error" *ngIf="formTopupMoney.controls.moneyAmount.touched">
                    <div *ngIf="formTopupMoney.controls.moneyAmount.hasError('invalidMoneyAmount')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid top up amount.</div>
                </div>
                <div class="note">
                    Minimum top up amount $10, maximum $250. <a href="https://www.ptv.vic.gov.au/tickets/myki/top-up-a-myki/myki-money/">Learn more about myki money.</a>
                </div>
            </form>
        </div>
        <div *ngIf="isTopupPass()">
            <form [formGroup]="formTopupPass">
                <ul class="card-list">
                    <ion-item no-lines>
                        <ion-label>Pass duration</ion-label>
                        <ion-input type="number" placeholder="Days" formControlName="passDuration" clearOnEdit></ion-input>
                    </ion-item>
                </ul>
                <div class="error" *ngIf="formTopupPass.controls.passDuration.touched">
                    <div *ngIf="formTopupPass.controls.passDuration.hasError('invalidPassDuration')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid pass duration.</div>
                </div>
                <div class="note">
                    Pass available in either 7 days or between 28-365 days. Remember you will need a positive myki money balance to activate a myki pass. <a href="https://www.ptv.vic.gov.au/tickets/myki/top-up-a-myki/myki-pass/">Learn more about myki pass</a>.
                </div>
                <ul class="card-list">
                    <ion-item no-lines>
                        <ion-label>From zone</ion-label>
                        <ion-select formControlName="zoneFrom">
                            <ion-option *ngFor="let zone of zoneSelect()" [value]="zone">Zone {{zone}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item no-lines>
                        <ion-label>To zone</ion-label>
                        <ion-select formControlName="zoneTo">
                            <ion-option *ngFor="let zone of zoneSelect()" [value]="zone">Zone {{zone}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ul>
                <div class="error" *ngIf="formTopupPass.touched">
                    <div *ngIf="formTopupPass.hasError('invalidZones')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid zones. The "to" zone must be greater than "from"" zone.</div>
                    <div *ngIf="formTopupPass.hasError('zoneToInvalid')">
                        <ion-icon name="ios-alert-outline"></ion-icon> "To" zone must be at least zone 2.</div>
                </div>
                <div class="note">
                    Myki allows Zone 1 customers to travel in Zone 2 for free. <a href="https://ptv.vic.gov.au/tickets/zones/">View zone map here</a>.
                </div>
            </form>
        </div>
        <button ion-button block (click)="next()" [disabled]="!canNext()">Next</button>
    </div>
</ion-content>