<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button (click)="close()" [hidden]="stateSuccess()">Cancel</button>
        </ion-buttons>
        <ion-title>
            {{title()}}
        </ion-title>
        <ion-buttons right>
            <button ion-button (click)="farePrices($event)" [hidden]="!isTopupMoney() || !stateForm()">Fare prices</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding [hidden]="!stateForm()">
    <div class="loading" [hidden]="!loadingTopUp">
        <ion-spinner name="crescent"></ion-spinner>
        <div class="text">Loading top up</div>
    </div>

    <div [hidden]="loadingTopUp">
        <div class="topup-setup money" *ngIf="isTopupMoney()">
            <form [formGroup]="formTopupMoney">
                <div class="card">
                    <div class="card-inner">
                        <div class="title">Top up amount ($ whole dollars)</div>
                        <ul class="presets" [hidden]="topupMoneyCustom">
                            <li><button ion-button type="button" round [color]="topupMoneyIs(10) ? 'brand-darkest' : 'brand-light'" (click)="topupMoneySet(10)">10</button></li>
                            <li><button ion-button type="button" round [color]="topupMoneyIs(20) ? 'brand-darkest' : 'brand-light'" (click)="topupMoneySet(20)">20</button></li>
                            <li><button ion-button type="button" round [color]="topupMoneyIs(30) ? 'brand-darkest' : 'brand-light'" (click)="topupMoneySet(30)">30</button></li>
                            <li><button ion-button type="button" round [color]="topupMoneyIs(40) ? 'brand-darkest' : 'brand-light'" (click)="topupMoneySet(40)">40</button></li>
                            <li><button ion-button type="button" round [color]="topupMoneyIs(50) ? 'brand-darkest' : 'brand-light'" (click)="topupMoneySet(50)">50</button></li>
                            <li><button ion-button type="button" round [color]="topupMoneyIs(60) ? 'brand-darkest' : 'brand-light'" (click)="topupMoneySet(60)">60</button></li>
                        </ul>
                        <a class="custom" [hidden]="topupMoneyCustom" (click)="customTopupMoney()">Set other amount</a>
                        <div [hidden]="!topupMoneyCustom">
                            <ion-input type="tel" name="moneyAmount" formControlName="moneyAmount" placeholder="Enter amount" [(ngModel)]="topupOptions.moneyAmount"></ion-input>
                        </div>
                    </div>
                </div>
                <div class="error" *ngIf="formTopupMoney.controls.moneyAmount.touched">
                    <div *ngIf="formTopupMoney.controls.moneyAmount.hasError('invalidMoneyAmount')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid top up amount.</div>
                </div>
                <div class="note">
                    Minimum top up amount $10, maximum $250. <a href="https://www.ptv.vic.gov.au/tickets/myki/top-up-a-myki/myki-money/">Learn more about myki money.</a>
                </div>
            </form>
        </div>
        <div class="topup-setup pass" *ngIf="isTopupPass()">
            <form [formGroup]="formTopupPass">
                <div class="card">
                    <div class="card-inner">
                        <div class="title">Pass duration (days)</div>
                        <ul class="presets" [hidden]="topupPassCustom">
                            <li><button ion-button type="button" round [color]="topupPassIs(7) ? 'brand-darkest' : 'brand-light'" (click)="topupPassSet(7)">7</button></li>
                            <li><button ion-button type="button" round [color]="topupPassIs(28) ? 'brand-darkest' : 'brand-light'" (click)="topupPassSet(28)">28</button></li>
                            <li><button ion-button type="button" round [color]="topupPassIs(365) ? 'brand-darkest' : 'brand-light'" (click)="topupPassSet(365)">365</button></li>
                        </ul>
                        <a class="custom" [hidden]="topupPassCustom" (click)="customTopupPass()">Set other duration</a>
                        <div [hidden]="!topupPassCustom">
                            <ion-input type="tel" name="passDuration" formControlName="passDuration" placeholder="Enter days" [(ngModel)]="topupOptions.passDuration" clearOnEdit></ion-input>
                        </div>
                    </div>
                </div>
                <div class="error" *ngIf="formTopupPass.controls.passDuration.touched">
                    <div *ngIf="formTopupPass.controls.passDuration.hasError('invalidPassDuration')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid pass duration.</div>
                </div>
                <div class="note" *ngIf="!formTopupPass.controls.passDuration.hasError('invalidPassDuration')">
                    Pass will expire on <span style="font-weight:600">{{topupPassExpiryDate() | amDateFormat:'dddd, D MMMM'}}</span> if activated today.
                </div>
                <div class="note">
                    Pass available in either 7 days or between 28-365 days. You will need a positive myki money balance to activate a myki pass.
                    <a href="https://www.ptv.vic.gov.au/tickets/myki/top-up-a-myki/myki-pass/">Learn more about myki pass</a>.
                </div>
                <div class="card pass-zones">
                    <div class="zone">
                        <div class="card-inner">
                            <div class="title">From</div>
                            <ion-select formControlName="zoneFrom" [(ngModel)]="topupOptions.zoneFrom" [selectOptions]="zoneFromOptions">
                                <ion-option *ngFor="let zone of zoneSelect()" [value]="zone">Zone {{zone}}</ion-option>
                            </ion-select>
                        </div>
                    </div>
                    <div class="zone">
                        <div class="card-inner">
                            <div class="title">To</div>
                            <ion-select formControlName="zoneTo" [(ngModel)]="topupOptions.zoneTo" [selectOptions]="zoneToOptions">
                                <ion-option *ngFor="let zone of zoneSelect()" [value]="zone">Zone {{zone}}</ion-option>
                            </ion-select>
                        </div>
                    </div>
                </div>
                <div class="error" *ngIf="formTopupPass.touched">
                    <div *ngIf="formTopupPass.hasError('invalidZones')">
                        <ion-icon name="ios-alert-outline"></ion-icon> The "to" zone must be greater than "from" zone.</div>
                    <div *ngIf="formTopupPass.hasError('zoneToInvalid')">
                        <ion-icon name="ios-alert-outline"></ion-icon> "To" zone must be at least zone 2.</div>
                </div>
                <div class="note">
                    Myki allows Zone 1 customers to travel in Zone 2 for free. <a href="https://ptv.vic.gov.au/tickets/zones/">Read about zones here</a>.
                </div>
            </form>
        </div>
        <button type="submit" ion-button block large (click)="order()" [disabled]="!canOrder()">Next</button>
        <div class="note" style="margin-top: 2em">
            Top ups online may take <span style="font-weight:600">up to 90 minutes to process</span>. If you plan to travel sooner, top up at a myki machine, myki retail shop or ticket office.
        </div>
    </div>
</ion-content>

<ion-content padding [hidden]="!statePay()">
    <div class="loading" [hidden]="!loadingPay">
        <ion-spinner name="crescent"></ion-spinner>
        <div class="text">Loading top up payment</div>
    </div>

    <div class="topup-page-pay" [hidden]="loadingPay">
        <div class="note">Please review your top up order</div>
        <ul class="card-list topup-summary">
            <ion-item no-lines>
                <div item-left>Myki card</div>
                <div item-right>{{mykiProvider.activeCard().idFormatted()}}</div>
            </ion-item>

            <ion-item no-lines>
                <div item-left>Top up</div>
                <div item-right>{{topupOrder.description}}</div>
            </ion-item>

            <ion-item no-lines>
                <div item-left><strong>Total</strong></div>
                <div item-right><strong>{{topupOrder.amount | currency:'USD':true}}</strong><small *ngIf="topupOrder.gstAmount"><br>GST included: {{topupOrder.gstAmount | currency:'USD':true}}</small></div>
            </ion-item>
        </ul>
        <form [formGroup]="formTopupPayCC">
            <div class="note">
                Pay with Mastercard and Visa credit card. Myki may not accept international credit cards for online top ups.
            </div>
            <div *ngIf="hasSavedCreditCard">
                <ul class="card-list">
                    <ion-item no-lines (click)="changeSavedCreditCard()">
                        <div item-left>Saved card</div>
                        <div item-right>•••• •••• •••• {{topupOptions.ccNumberNoSpaces().slice(-4)}}</div>
                        <ion-icon item-right name="ios-card" color="dark" class=""></ion-icon>
                    </ion-item>
                </ul>
            </div>
            <div [hidden]="hasSavedCreditCard">
                <ul class="card-list">
                    <ion-item no-lines>
                        <ion-label fixed>Card</ion-label>
                        <ion-input class="ccNumber" type="tel" formControlName="card" [(ngModel)]="topupOptions.creditCard.ccNumber" placeholder="•••• •••• •••• ••••"></ion-input>
                    </ion-item>
                    <ion-item no-lines>
                        <ion-label fixed>Expiry</ion-label>
                        <ion-input class="ccExpiry" type="tel" formControlName="expiry" [(ngModel)]="topupOptions.creditCard.ccExpiry" placeholder="mm/yy"></ion-input>
                    </ion-item>
                    <ion-item no-lines>
                        <ion-label fixed>CVC</ion-label>
                        <ion-input class="ccCVC" type="tel" formControlName="cvc" [(ngModel)]="topupOptions.creditCard.ccCVC" placeholder="•••"></ion-input>
                    </ion-item>
                </ul>
                <div class="error" *ngIf="formTopupPayCC.controls.card.touched">
                    <div *ngIf="formTopupPayCC.controls.card.hasError('invalidNumber')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid credit card number.</div>
                </div>
                <div class="error" *ngIf="formTopupPayCC.controls.card.touched">
                    <div *ngIf="formTopupPayCC.hasError('invalidCardType')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid credit card type. Only Mastercard and Visa supported.</div>
                </div>
                <div class="error" *ngIf="formTopupPayCC.controls.expiry.touched">
                    <div *ngIf="formTopupPayCC.controls.expiry.hasError('invalidExpiry')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid expiry.</div>
                </div>
                <div class="error" *ngIf="formTopupPayCC.controls.cvc.touched">
                    <div *ngIf="formTopupPayCC.hasError('invalidCVC')">
                        <ion-icon name="ios-alert-outline"></ion-icon> Invalid CVC.</div>
                </div>
            </div>
        </form>

        <div *ngIf="!hasSavedCreditCard">
            <ul class="card-list">
                <ion-item no-lines>
                    <ion-label>Save credit card details</ion-label>
                    <ion-toggle [(ngModel)]="topupOptions.saveCreditCard" [disabled]="!canSaveCreditCard"></ion-toggle>
                </ion-item>
            </ul>

            <div class="note" *ngIf="!canSaveCreditCard" style="margin-bottom:1em">
                You cannot save your credit card details because you do not have screen lock enabled.
            </div>
        </div>

        <form [formGroup]="formTopupPayReminder">
            <ul class="card-list topup-pay-reminder">
                <ion-item no-lines>
                    <ion-label fixed>Receipt</ion-label>
                    <ion-select class="topup-pay-reminder-type" formControlName="reminderType" [(ngModel)]="topupOptions.reminderType">
                        <ion-option [value]="0">Email</ion-option>
                        <ion-option [value]="1">Mobile</ion-option>
                        <ion-option [value]="2">None</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item no-lines [hidden]="!isReminderEmail()">
                    <ion-label fixed>Email</ion-label>
                    <ion-input type="email" formControlName="reminderEmail" [(ngModel)]="topupOptions.reminderEmail" placeholder="john@doe.com"></ion-input>
                </ion-item>
                <ion-item no-lines [hidden]="!isReminderMobile()">
                    <ion-label fixed>Mobile</ion-label>
                    <ion-input type="phone" formControlName="reminderMobile" [(ngModel)]="topupOptions.reminderMobile" [required]="isReminderMobile()" placeholder="04xxxxxxxx"></ion-input>
                </ion-item>
            </ul>
            <div class="error" *ngIf="formTopupPayReminder.touched">
                <div *ngIf="formTopupPayReminder.hasError('emailRequired')">
                    <ion-icon name="ios-alert-outline"></ion-icon> Email address required.</div>
                <div *ngIf="formTopupPayReminder.hasError('email')">
                    <ion-icon name="ios-alert-outline"></ion-icon> Valid email address required.</div>
                <div *ngIf="formTopupPayReminder.hasError('mobileRequired')">
                    <ion-icon name="ios-alert-outline"></ion-icon> Mobile phone number required.</div>
            </div>
        </form>

        <button ion-button block (click)="pay()" large [disabled]="!canPay()">Pay</button>

    </div>
</ion-content>

<ion-content class="success" padding [hidden]="!stateSuccess()">
    <div class="message">
        <div class="heading">
            <ion-icon name="checkmark-circle"></ion-icon>
            <h2>Top up submitted</h2>
        </div>

        <ul class="card-list topup-receipt">
            <ion-item no-lines>
                <div item-left>Myki card</div>
                <div item-right>{{mykiProvider.activeCard().idFormatted()}}</div>
            </ion-item>

            <ion-item no-lines>
                <div item-left>Top up</div>
                <div item-right>{{topupOrder.description}}</div>
            </ion-item>

            <ion-item no-lines>
                <div item-left>Credit card</div>
                <div item-right>•••• •••• •••• {{topupOptions.ccNumberNoSpaces().slice(-4)}}</div>
            </ion-item>

            <ion-item no-lines>
                <div item-left><strong>Paid</strong></div>
                <div item-right><strong>{{topupOrder.amount | currency:'USD':true}}</strong><small *ngIf="topupOrder.gstAmount"><br>GST included: {{topupOrder.gstAmount | currency:'USD':true}}</small></div>
            </ion-item>
        </ul>
        <div class="note">Top ups may take up to 90 minutes to be processed and will not immediately appear in the app. After it is processed it will be synced to your card the next time you touch on.</div>

        <button ion-button block large (click)="close()">Close</button>

        <button ion-button icon-left color="dark" block (click)="shareTopup()"><ion-icon name="md-heart"></ion-icon> Spread the word about the app</button>
    </div>
</ion-content>