page-topup {
    .topup-setup {
        ul.presets {
            list-style: none;
            padding: 0;
            margin: 1em 0 0 0;
            >li {
                display: inline-block;
                margin: 0 0.4em 1em 0;
                button {
                    font-size: 2rem;
                    padding: 0.6em 0.9em;
                    text-align: center;
                    min-width: 90px;
                    margin: 0;
                    height: auto;
                }
            }
        }
        a.custom {
            color: color($colors, gray, base);
            font-size: 1em;
            margin-top: 0.5em;
            display: block;
        }
        &.money {
            input[formcontrolname=moneyAmount] {
                font-size: 4rem;
                margin: 0;
            }
        }
        &.pass {
            input[formcontrolname=passDuration] {
                font-size: 4rem;
                margin: 0;
            }

            .pass-zones {
                display: flex;
                
                .zone {
                    flex: 1 0;
                    position: relative;

                    &:first-child {
                        border-right: 1px solid color($colors, light, base);
                    }

                    ion-select {
                        font-size: 1.2em;
                        padding-left: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                        width: 100%;
                        max-width: none;
                    }
                }
            }
        }
    }
    .topup-summary {
        margin: 0 0 1em 0;
        background: color($colors, darker, base);
        strong {
            font-weight: 600;
        }
        ion-item {
            color: color($colors, light, base);
            &+ion-item {
                border-top: 1px solid lighten(color($colors, darker, base), 10%) !important;
            }
            div[item-left] {
                color: color($colors, light-blue, base);
            }
            div[item-right] {
                text-align: right;
                max-width: 70%;
            }
        }
    }
    ion-content.success {
        color: color($colors, darker, base);
        text-align: center;
        ion-icon {
            font-size: 7em;
            transition: 0.7s transform cubic-bezier(1.000, 0.005, 0.660, 1.650);
            transform: scale(0);
            &.animated {
                transform: scale(1);
            }
        }
        p {
            line-height: 1.6;
        }
        button {
            margin-top: 1.6em;
        }
    }
}