<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button (click)="close()">Cancel</button>
        </ion-buttons>
        <ion-title>
            {{title()}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="note">
        Top ups online may take <span style="font-weight:600">up to 24 hours to process</span>. If you plan to travel sooner, PTV recommends you top up at a myki machine, myki retail shop or ticket office.
        <br><br><a href="https://www.mymyki.com.au/NTSWebPortal/Registered/TopUp/ModifyAutoTopUp.aspx">Click here to learn and set up auto top up</a>.
    </div>

    <div class="loading" [hidden]="!loading">
        <ion-spinner name="crescent"></ion-spinner>
        <div class="text">Loading top up</div>
    </div>

    <div [hidden]="loading">
        <div *ngIf="isTopupMoney()">
            <div class="note">Add money to your myki card which will be automatically deducted when you touch on and touch off. <a href="https://www.ptv.vic.gov.au/tickets/myki/top-up-a-myki/myki-money/">Read more about myki money</a>.</div>
            <ul class="card-list">
                <ion-item no-lines>
                    <ion-label>Top up amount ($)</ion-label>
                    <ion-input type="number" [(ngModel)]="topupOptions.moneyAmount" name="moneyAmount" clearOnEdit></ion-input>
                </ion-item>
            </ul>
            <div class="note">
                Minimum amount $10, maximum $250
            </div>
        </div>
        <div *ngIf="isTopupPass()">
            <div class="note">Add a pass to your myki card which will be automatically activated the next time you touch on. You will need a positive myki money balance to activate a myki pass. <a href="https://www.ptv.vic.gov.au/tickets/myki/top-up-a-myki/myki-pass/">Read more about myki pass</a>.</div>
            <ul class="card-list">
                <ion-item no-lines>
                    <ion-label>Pass duration</ion-label>
                    <ion-input type="number" placeholder="Days" [(ngModel)]="topupOptions.passDuration" name="passDuration" clearOnEdit></ion-input>
                </ion-item>
            </ul>
            <div class="note">
                Pass available in either 7 days or between 28-365 days
            </div>
            <ul class="card-list">
                <ion-item no-lines>
                    <ion-label>From zone</ion-label>
                    <ion-select [(ngModel)]="topupOptions.zoneFrom" name="zoneFrom" required>
                        <ion-option *ngFor="let zone of zoneSelect()" [value]="zone">Zone {{zone}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item no-lines>
                    <ion-label>To zone</ion-label>
                    <ion-select [(ngModel)]="topupOptions.zoneTo" name="zoneTo" required>
                        <ion-option *ngFor="let zone of zoneSelect()" [value]="zone">Zone {{zone}}</ion-option>
                    </ion-select>
                </ion-item>
            </ul>
            <div class="note">
                <a href="https://ptv.vic.gov.au/tickets/zones/">View zone map here</a>.<br>
                <br>Please note, customers travelling in Zone 1 only are provided with Zone 2 travel for free. Be sure to select Zone 1 to Zone 2.
            </div>
        </div>
        <button ion-button block (click)="next()">Next</button>
    </div>
</ion-content>