page-topup {
    input[formcontrolname=moneyAmount] {
        text-align: right;
    }
    input[formcontrolname=passDuration] {
        text-align: right;
    }
    .topup-summary {
        text-align: center;
        strong {
            font-weight: 600;
        }
    }
}