select-card {
    display: block;
    width: 100%;
    height: 100%;
    ion-content {
        background: transparent !important; // background is set on the menu
        .scroll-content {
            padding: 2em;
        }
    }
    .note {
        color: color($colors, darker, base);
    }
    // cards
    .menu-card {
        border-radius: $card-radius;
        margin-bottom: 1.5em !important;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
        padding: $content-padding;
        height: 130px !important;
        background: color($colors, darker, base);
        color: white;
        text-transform: none;
        &.active {
            background: color($colors, primary, base);
            color: color($colors, black, base);
        }
        &.replaced {
            opacity: 0.3;
        }
        .card-inner {
            text-align: left;
            width: 100%;
            height: 100%;
            position: relative;
            .balance {
                ion-icon {
                    vertical-align: middle;
                    margin-right: 0.1em;
                    margin-top: -4px;
                }
                .money {
                    margin-bottom: 1em;
                }
                .pass {
                    &.inactive {
                        opacity: 0.2;
                    }
                }
            }
            .replaced {
                position: absolute;
                top: 0;
                right: 0;
            }
            .info {
                font-size: 13px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                .nickname {
                    margin-bottom: 0.7em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .number {
                    font-weight: 600;
                }
            }
        }
    }
}