page-home {
    ion-content {
        .scroll-content {
            background: $background-color; // override so pull to refresh doesn't overlap page
            border-top: none !important; // override so pull to refresh has no border
        }
    }
    .replaced {
        background: color($colors, danger, base);
        color: white;
        text-align: center;
    }
    .card.balance {
        display: flex;
        .balance-icon {
            width: 90px;
            color: white;
            background: linear-gradient(#e0e1e4, #cdd0d6);
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon {
                font-size: 3.5em;
            }
        }
        .card-inner {
            flex: 1 0;
            .title {
                color: color($colors, dark, base);
                font-size: 13px;
                margin: 0;
            }
            .balance-hero {
                font-size: 2.3em;
                font-weight: 600;
                margin: 0.1em 0;
                line-height: 1.2;
                &.inactive {
                    color: color($colors, light-blue, base);
                }
            }
            .info {
                color: color($colors, dark, base);
                line-height: 1.5;
                >div {
                    ion-icon {
                        margin-right: 0.3em;
                    }
                    &+div {
                        margin-top: 0.5em;
                    }
                }
            }
        }
    }
}