<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                <ion-icon name="mypal-cards"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only (click)="farePrices($event)">
                <ion-icon name="mypal-fares"></ion-icon>
            </button>
            <button ion-button icon-only (click)="infoOptions()">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Balance
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <login [hidden]="accountLoaded()"></login>

    <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="accountLoaded()">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div [hidden]="!accountLoaded()">
        <div class="loading" [hidden]="card().loaded">
            <ion-spinner name="crescent"></ion-spinner>
            <div class="text">Loading card</div>
        </div>

        <div class="home-content" [hidden]="!card().loaded">
            <div class="card replaced" *ngIf="replacedCard()">
                <div class="card-inner">Card replaced</div>
            </div>

            <div class="card replaced" *ngIf="blockedCard()">
                <div class="card-inner">Card blocked</div>
            </div>

            <div class="card replaced" *ngIf="refundedCard()">
                <div class="card-inner">Card refunded</div>
            </div>

            <div class="card balance money">
                <div class="balance-icon">
                    <ion-icon name="mypal-money"></ion-icon>
                </div>
                <div class="card-inner">
                    <p class="title">Myki money</p>
                    <h2 class="balance-hero">{{card().moneyBalance | currency:'USD':true}}
                        <div class="autotopup" [hidden]="!card().autoTopup">
                            <ion-icon name="md-refresh"></ion-icon> Auto top up
                        </div>
                    </h2>
                    <div class="info">
                        <div class="apppurchased" [hidden]="!card().moneyTopUpAppPurchased">{{card().moneyTopUpAppPurchased | currency:'USD':true}} top up processing</div>
                        <div class="inprogress" [hidden]="!card().moneyTopupInProgress">{{card().moneyTopupInProgress | currency:'USD':true}} will be added at next touch on</div>
                    </div>
                    <div [hidden]="isIos()">
                        <button ion-button icon-left block (click)="topupMoney()" [disabled]="disabledCard()"><ion-icon name="md-add-circle"></ion-icon> Top up money</button>
                    </div>
                </div>
            </div>

            <div class="card balance pass">
                <div class="balance-icon">
                    <ion-icon name="mypal-pass"></ion-icon>
                </div>
                <div class="card-inner">
                    <p class="title">Myki pass</p>
                    <h2 class="balance-hero" [ngClass]="{'inactive': !card().passActive}">{{card().passActiveFriendlyText()}}</h2>
                    <div class="info">
                        <div [hidden]="!card().passActive">{{card().passActive}}</div>
                        <div [hidden]="!card().passInactive">{{card().passInactive}}</div>
                    </div>
                    <div class="buttons" [hidden]="isIos()">
                        <button class="topup" ion-button icon-left block (click)="topupPass()" [disabled]="disabledCard() || card().passInactive"><ion-icon name="md-add-circle"></ion-icon> Top up pass</button>
                        <button class="reminder" ion-button icon-only color="dark" (click)="addPassReminder()" *ngIf="card().passActive"><ion-icon name="md-alarm"></ion-icon></button>
                    </div>
                    <div class="buttons" [hidden]="!isIos()">
                        <button ion-button block icon-left color="dark" (click)="addPassReminder()" *ngIf="card().passActive"><ion-icon name="md-alarm"></ion-icon> Remind me</button>
                    </div>
                </div>
            </div>

            <div class="note">
                Balance may be delayed by up to 24 hours<br>
                <span [hidden]="!card().lastTransactionDate">Last processed transaction {{card().lastTransactionDate | amCalendar:null:{sameElse: 'DD/MM/YYYY'} }}</span>
            </div>

            <ul class="card-list">
                <ion-item no-lines>
                    <div item-left>Number</div>
                    <div item-right>{{card().idFormatted()}}</div>
                </ion-item>

                <ion-item no-lines (click)="nicknameSet()">
                    <div item-left>Nickname</div>
                    <div item-right>
                        <span [hidden]="cardNickname()" class="nickname-unset">Tap to set</span>
                        <span [hidden]="!cardNickname()">{{cardNickname()}}</span>
                    </div>
                </ion-item>

                <ion-item no-lines>
                    <div item-left>Name</div>
                    <div item-right>{{card().holder}}</div>
                </ion-item>

                <ion-item no-lines>
                    <div item-left>Type</div>
                    <div item-right>{{card().type}}</div>
                </ion-item>

                <ion-item no-lines (click)="addExpiryReminder()">
                    <div item-left>Expiry</div>
                    <div item-right>{{card().expiry | amDateFormat:'LL'}}</div>
                    <ion-icon item-right name="md-alarm" color="dark" class="reminder"></ion-icon>
                </ion-item>
            </ul>
        </div>
    </div>
</ion-content>