<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Top up outlets
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map" style="height:100%;" [hidden]="mapError || locationsError"></div>
    <div class="loading" *ngIf="loading">
        <ion-spinner name="crescent"></ion-spinner>
        <div>Loading retail outlets</div>
    </div>
    <div class="empty" *ngIf="mapError">
        <ion-icon name="mypal-tab-outlets"></ion-icon>
        <h2>Map not available</h2>
        <p>Google Play Services is not available on this device</p>
    </div>
    <div class="empty" *ngIf="locationsError">
        <ion-icon name="mypal-tab-outlets"></ion-icon>
        <h2>Top up outlets not available</h2>
        <p>Could not load myki top up retail outlets from PTV</p>
    </div>
</ion-content>