page-history {
    ion-content {
        .scroll-content {
            background: $background-color; // override so pull to refresh doesn't overlap page
            border-top: none !important; // override so pull to refresh has no border
        }
        .history-content {
            animation: 0.3s historyContentLoaded ease-out;
        }
        ion-list {
            ion-item-group {
                margin-bottom: 2em;
                ion-item-divider[sticky] {
                    top: -1px;
                    padding-left: 0;
                    border: 0 none !important;
                    .platform-ios:not(.platform-mobileweb) & {
                        // iOS Safari implements position: sticky from relative position with padding
                        top: -17px;
                    }
                }
                .transaction-item {
                    width: 100%;
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 60px;
                        right: 0;
                        height: 1px;
                        background: color($colors, light, base);
                    }
                    .card {
                        border-radius: 0;
                    }
                    &:first-of-type {
                        .card {
                            border-top-left-radius: $card-radius;
                            border-top-right-radius: $card-radius;
                        }
                    }
                    &:last-of-type {
                        &:after {
                            display: none;
                        }
                        .card {
                            border-bottom-left-radius: $card-radius;
                            border-bottom-right-radius: $card-radius;
                        }
                    }
                }
            }
        }
    }
    .loading {
        padding: 3em 0 !important;
    }
}

@keyframes historyContentLoaded {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
    }
}