<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                <ion-icon name="mypal-cards"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            History
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div class="loading" [hidden]="card().transactionLoaded">
        <ion-spinner name="crescent"></ion-spinner>
        <div class="text">Loading transactions</div>
    </div>

    <div [hidden]="!card().transactionLoaded">
        <div class="note">
            Transactions may be delayed by up to 24 hours
            <span *ngIf="hasTransactions()"><br> Showing most recent {{transactions().length}} transactions.</span>
        </div>
        <ion-list>
            <ion-item-group *ngFor="let transactionGroup of transactionsGrouped()">
                <ion-item-divider color="light" sticky>{{transactionGroup.day}}</ion-item-divider>
                <div class="transaction-item" *ngFor="let trans of transactionGroup.transactions">
                    <transaction [transaction]="trans"></transaction>
                </div>
            </ion-item-group>
        </ion-list>

        <div class="note" *ngIf="hasTransactions() && transactions().length == 40"><br> To view more transactions, visit the myki site.</div>

        <div class="empty" *ngIf="!hasTransactions()">
            <ion-icon name="mypal-tab-history"></ion-icon>
            <div class="text">No transactions</div>
        </div>
    </div>
</ion-content>