// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$card-radius: 6px;
$card-background: #fff;
$card-margin-topbottom: 1.5em;

// note hint text
.note {
    margin: $content-margin;
    color: color($colors, dark, base);
    font-size: 13px;
}

// card container
.card {
    background: $card-background;
    margin: $card-margin-topbottom $content-padding;
    border-radius: 6px;
    overflow: hidden;
    .card-inner {
        padding: $content-padding;
    }
}

// card list container
.card-list {
    background: $card-background;
    margin: $card-margin-topbottom $content-padding;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    >ion-item {
        background: transparent;
        &+ion-item {
            border-top: 1px solid color($colors, light, base) !important;
        }
        >[item-left] {
            color: color($colors, dark, base);
        }
        >[item-left] {
            color: color($colors, black, base);
        }
    }
}

// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "mypal-" prefix
ion-icon {
    &[class*="mypal-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="mypal-tab-balance"] {
        mask-image: url(../assets/img/tab-balance.svg);
    }
    &[class*="mypal-tab-history"] {
        mask-image: url(../assets/img/tab-history.svg);
    }
    &[class*="mypal-money"] {
        mask-image: url(../assets/img/money.svg);
    }
    &[class*="mypal-pass"] {
        mask-image: url(../assets/img/pass.svg);
    }
}

// restyling the app tabbar
ion-tabs {
    .tabbar {
        border-top: none !important;
        background: white;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.02);
        // hide tab text
        .tab-button-text {
            display: none !important;
        }
        // restyling icon
        $tab-icon-size: 32px;
        ion-icon {
            min-width: $tab-icon-size !important;
            width: $tab-icon-size !important;
            height: $tab-icon-size !important;
            margin: 0 !important; // removed tab text, don't need any margins
            transition: color 0.1s ease-out;
        }
    }
}

// restyling side menu
ion-menu {
    .menu-inner {
        background: #86898e !important;
    }
}