@import '_reset';
body {
    font: 19px/1.7 'Rubik', sans-serif;
    color: #656A73;
}

.container {
    margin: 0 15px;
    @media (min-width: 960px) {
        width: 920px;
        margin: 0 auto;
    }
}

a {
    color: #90A600;
}

h3 {
    font-size: 1.7em;
    font-weight: 300;
    margin: 2em 0 0.5em;
}

section.hero {
    color: #323740;
    background: #CFE257;
    overflow: hidden;
    .container {
        display: flex;
        @media (max-width: 959px) {
            text-align: center;
            flex-direction: column;
            padding: 3em 0;
        }
        @media (min-width: 960px) {
            flex-direction: row;
            align-items: center;
            min-height: 870px;
        }
    }
    .text {
        flex: 1 0;
        @media (min-width: 960px) {
            margin-right: 1em;
        }
        @media (max-width: 959px) {}
        >img {
            width: 80px;
        }
        h1 {
            font-size: 3em;
            font-weight: 500;
            @media (max-width: 959px) {
                font-size: 2.4em;
            }
            em {
                font-style: italic;
                margin-left: -0.1em;
            }
        }
        h2 {
            font-size: 1.2em;
            font-weight: 400;
            line-height: 1.55;
            @media (max-width: 959px) {
                font-size: 1.1em;
            }
        }
        .download {
            margin-top: 2em;
            a {
                margin-right: 0.2em;
                img {
                    height: 40px;
                }
            }
        }
    }
    .screenshots {
        position: relative;
        @media (max-width: 959px) {
            height: 400px;
            margin: 2em 0 3em;
        }
        @media (min-width: 960px) {
            width: 500px;
            height: 520px;
        }
        div {
            position: absolute;
            height: 100%;
            @media (max-width: 959px) {
                left: 50%;
                &.iphone {
                    transform: translateX(-100%) rotateZ(15deg);
                    padding-right: 0.5em;
                }
                &.android {
                    transform: rotateZ(15deg);
                    padding-left: 0.5em;
                }
            }
            @media (min-width: 960px) {
                &.iphone {
                    top: -3em;
                    left: 0;
                    opacity: 0;
                    animation: anim-iphone 2s ease-in-out forwards;
                }
                &.android {
                    bottom: -3em;
                    right: 0;
                    opacity: 0;
                    animation: anim-android 2s ease-in-out forwards;
                    z-index: 1;
                }
            }
            img {
                height: 100%;
            }
        }
    }
    .copyright {
        font-size: 0.6em;
        opacity: 0.4;
        @media (min-width: 960px) {
            margin-top: 4em;
        }
        @media (max-width: 959px) {
            margin-top: 2em;
            line-height: 1.4;
        }
    }
}

section.faq {
    margin: 5em 0;
    ul {
        li {
            margin: 0.3em 0 2em;
            color: lighten(#656A73, 20%);
            strong {
                font-weight: 500;
                color: #656A73;
            }
        }
    }
}

section.legal {
    font-size: 0.8em;
    padding: 5em 0;
    background: #ECEFF2;
    ul {
        li {
            margin: 0.3em 0 1em;
        }
    }
}

@keyframes anim-iphone {
    0% {
        transform: translateY(-5%) rotateZ(-5deg);
        opacity: 0;
        -webkit-filter: drop-shadow(0 60px 40px rgba(0, 0, 0, 0));
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0) rotateZ(-8deg);
        opacity: 1;
        -webkit-filter: drop-shadow(0 20px 50px rgba(0, 0, 0, 0.15));
    }
}

@keyframes anim-android {
    0% {
        transform: translateY(-5%) rotateZ(3deg);
        opacity: 0;
        -webkit-filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0));
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0) rotateZ(7deg);
        opacity: 1;
        -webkit-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4));
    }
}