/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 19px/1.7 'Rubik', sans-serif;
  color: #656A73; }

.container {
  margin: 0 15px; }
  @media (min-width: 960px) {
    .container {
      width: 920px;
      margin: 0 auto; } }

a {
  color: #90A600; }

h3 {
  font-size: 1.7em;
  font-weight: 300;
  margin: 0 0 0.5em; }

section.hero {
  color: #323740;
  background: #CFE257;
  overflow: hidden; }
  section.hero .container {
    display: flex; }
    @media (max-width: 959px) {
      section.hero .container {
        text-align: center;
        flex-direction: column;
        padding: 3em 0; } }
    @media (min-width: 960px) {
      section.hero .container {
        flex-direction: row;
        align-items: center;
        min-height: 700px;
        height: 100vh; } }
  section.hero .text {
    flex: 1 0; }
    @media (min-width: 960px) {
      section.hero .text {
        margin-right: 1em; } }
    section.hero .text > img {
      width: 80px; }
    section.hero .text h1 {
      font-size: 3em;
      font-weight: 500; }
      @media (max-width: 959px) {
        section.hero .text h1 {
          font-size: 2.4em; } }
      section.hero .text h1 em {
        font-style: italic;
        margin-left: -0.1em; }
    section.hero .text h2 {
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.55; }
      @media (max-width: 959px) {
        section.hero .text h2 {
          font-size: 1.1em; } }
    section.hero .text .download {
      margin-top: 2em; }
      section.hero .text .download a {
        margin-right: 0.2em; }
        section.hero .text .download a img {
          height: 40px; }
  section.hero .screenshots {
    position: relative; }
    @media (max-width: 959px) {
      section.hero .screenshots {
        height: 400px;
        margin: 2em 0 3em; } }
    @media (min-width: 960px) {
      section.hero .screenshots {
        width: 500px;
        height: 520px; } }
    section.hero .screenshots div {
      position: absolute;
      height: 100%; }
      @media (max-width: 959px) {
        section.hero .screenshots div {
          left: 50%; }
          section.hero .screenshots div.iphone {
            transform: translateX(-100%) rotateZ(15deg);
            padding-right: 0.5em; }
          section.hero .screenshots div.android {
            transform: rotateZ(15deg);
            padding-left: 0.5em; } }
      @media (min-width: 960px) {
        section.hero .screenshots div.iphone {
          top: -3em;
          left: 0;
          opacity: 0;
          animation: anim-iphone 2s ease-in-out forwards; }
        section.hero .screenshots div.android {
          bottom: -3em;
          right: 0;
          opacity: 0;
          animation: anim-android 2s ease-in-out forwards;
          z-index: 1; } }
      section.hero .screenshots div img {
        height: 100%; }
  section.hero .copyright {
    font-size: 0.6em;
    opacity: 0.4; }
    @media (min-width: 960px) {
      section.hero .copyright {
        margin-top: 4em; } }
    @media (max-width: 959px) {
      section.hero .copyright {
        margin-top: 2em;
        line-height: 1.4; } }

section.faq {
  margin: 5em 0; }
  section.faq ul li {
    margin: 0.3em 0 2em;
    color: #999da5; }
    section.faq ul li strong {
      font-weight: 500;
      color: #656A73; }

section.legal {
  font-size: 0.8em;
  padding: 5em 0;
  background: #ECEFF2; }
  section.legal ul li {
    margin: 0.3em 0 1em; }

@keyframes anim-iphone {
  0% {
    transform: translateY(-5%) rotateZ(-5deg);
    opacity: 0;
    -webkit-filter: drop-shadow(0 60px 40px transparent); }
  50% {
    opacity: 1; }
  100% {
    transform: translateY(0) rotateZ(-8deg);
    opacity: 1;
    -webkit-filter: drop-shadow(0 20px 50px rgba(0, 0, 0, 0.15)); } }

@keyframes anim-android {
  0% {
    transform: translateY(-5%) rotateZ(3deg);
    opacity: 0;
    -webkit-filter: drop-shadow(0 20px 40px transparent); }
  30% {
    opacity: 1; }
  100% {
    transform: translateY(0) rotateZ(7deg);
    opacity: 1;
    -webkit-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4)); } }
