login {
    .login {
        .heading {
            color: color($colors, dark, base);
            text-align: center;
            max-width: 90%;
            margin: 1em auto;
            line-height: 1.5;
            ion-icon {
                font-size: 9em;
                background: linear-gradient(to bottom, rgba(0,0,0,0.1), transparent 85%);
                margin-bottom: -40px;
            }
        }
        .form {
            button {
                margin: 0 !important;
                border-radius: $card-radius !important;
            }
        }
        .register {
            margin: 1em 0;
        }
    }
}