<ion-list radio-group>
    <ion-list-header>
        Active cards
    </ion-list-header>
    <ion-item *ngFor="let card of activeCards()">
        <ion-label>
            <h2>{{card.id}}</h2>
            <p><strong>${{card.moneyBalance}}</strong> {{card.typeToString()}}</p>
        </ion-label>
        <ion-radio checked="{{isActiveCard(card.id)}}" (ionSelect)="selectCard(card)"></ion-radio>
    </ion-item>
    <ion-list-header>
        Inactive cards
    </ion-list-header>
    <ion-item *ngFor="let card of inactiveCards()">
        <ion-label>{{card.id}}}</ion-label>
        <ion-radio checked="{{isActiveCard(card.id)}}" (ionSelect)="selectCard(card)"></ion-radio>
    </ion-item>
</ion-list>