transaction {
    .date {
        display: flex;
        color: color($colors, light-blue, base);
        div {
            font-size: 13px;
            &:nth-child(1) {
                flex: 1 0;
            }
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
    .content {
        display: flex;
        margin: 1em 0 0;
        >.icon {
            width: 32px;
            height: 32px;
            margin-right: 1em;
            position: relative;
            text-align: center;
            .method {
                color: #DDE2E9;
                width: 100%;
                height: 100%;
                ion-icon {
                    width: 100%;
                    height: 100%;
                }
            }
            .type {
                position: absolute;
                bottom: -6px;
                right: -2px;
            }
        }
        .detail {
            display: flex;
            flex: 1 0;
            flex-direction: column;
            .title {
                align-items: center;
                display: flex;
                .action {
                    flex: 1 0;
                    .type {
                        font-size: 13px;
                        color: color($colors, dark, bas);
                        line-height: 1.2;
                    }
                    .description {
                        font-size: 1em;
                        color: color($colors, black, base);
                        line-height: 1.5;
                        .zone {
                            margin-left: 0.3em;
                            line-height: 16px;
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            background: color($colors, light-blue, base);
                            color: white;
                            font-size: 12px;
                            font-weight: 500;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .meta {
        background: #F8F8F8;
        color: color($colors, dark, base);
        font-size: 13px;
        .info {
            display: flex;
            div {
                &:nth-child(1) {
                    flex: 1 0;
                }
                &:nth-child(2) {
                    text-align: right;
                }
            }
        }
    }
}