<div class="card">
    <div class="card-inner">
        <div class="date">
            <div>{{transaction.dateTime | amDateFormat:'dddd ll'}}</div>
            <div>{{transaction.dateTime | amDateFormat:'LT'}}</div>
        </div>
        <div class="content">
            <div class="icon">
                <div class="method">
                    <ion-icon name="mypal-train" *ngIf="isServiceTrain()"></ion-icon>
                    <ion-icon name="mypal-bus" *ngIf="isServiceBus()"></ion-icon>
                    <ion-icon name="mypal-tram" *ngIf="isServiceTram()"></ion-icon>
                    <ion-icon name="mypal-vline" *ngIf="isServiceVLine()"></ion-icon>
                    <ion-icon name="mypal-money" *ngIf="isTopupMoney()"></ion-icon>
                    <ion-icon name="mypal-pass" *ngIf="isTopupPass()"></ion-icon>
                </div>
                <div class="type">
                    <img src="./assets/img/touch-on.svg" *ngIf="isTouchOn()" />
                    <img src="./assets/img/touch-off.svg" *ngIf="isTouchOff()" />
                    <img src="./assets/img/top-up.svg" *ngIf="isTopup()" />
                </div>
            </div>
            <div class="detail">
                <div class="title">
                    <div class="action">
                        <div class="type">{{transaction.typeToString()}}</div>
                        <div class="description">{{transactionDescription()}} <span class="zone" *ngIf="isTransport()">{{transaction.zone}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="meta" *ngIf="isTopup() || isMoneyTransaction() || isPassTransaction()">
        <div class="card-inner">
            <div *ngIf="isTopup()">
                {{transaction.serviceToString()}}
            </div>
            <div class="info" *ngIf="isMoneyTransaction()">
                <div><strong>Cost:</strong> {{transaction.debit | currency:'USD':true}}</div>
                <div><strong>Balance:</strong> {{transaction.moneyBalance | currency:'USD':true}}</div>
            </div>
            <div *ngIf="isPassTransaction()"><strong>Cost:</strong> Used myki pass</div>
        </div>
    </div>
</div>