<div class="card">
    <div class="card-inner">
        <div class="content">
            <div class="connector" *ngIf="isTouchOn() || isTouchOff()" [ngClass]="{'touchon': isTouchOn(), 'touchoff': isTouchOff(), 'nexttouchon': isNextTouchOn()}"></div>
            <div class="icon" [ngClass]="{
                'train': !isTopup() && isServiceTrain(), 
                'bus': !isTopup() && isServiceBus(), 
                'tram': !isTopup() && isServiceTram(),
                'vline': !isTopup() && isServiceVLine(),
                'topup': isTopup(),
                'info': isInfo()
                }">
                <ion-icon name="mypal-train" *ngIf="!isTopup() && isServiceTrain()"></ion-icon>
                <ion-icon name="mypal-bus" *ngIf="!isTopup() && isServiceBus()"></ion-icon>
                <ion-icon name="mypal-tram" *ngIf="!isTopup() && isServiceTram()"></ion-icon>
                <ion-icon name="mypal-vline" *ngIf="!isTopup() && isServiceVLine()"></ion-icon>
                <ion-icon name="mypal-money" *ngIf="isTopupMoney()"></ion-icon>
                <ion-icon name="mypal-pass" *ngIf="isTopupPass()"></ion-icon>
                <ion-icon name="mypal-info" *ngIf="isInfo()"></ion-icon>
            </div>
            <div class="detail">
                <div class="meta">
                    <div class="type">{{transactionType()}}</div>
                    <div class="date">{{transactionDate()}}</div>
                </div>
                <div class="action">
                    <div class="description">{{transactionDescription()}}</div>
                    <div class="zone" *ngIf="isTransport()">Zone {{transaction.zone}}</div>
                </div>
                <div class="cost" *ngIf="isTopup() || isMoneyTransaction() || isInfo()">
                    <span class="credit" *ngIf="creditTransactionCost()">{{creditTransactionCost()}}</span>
                    <span class="debit" *ngIf="debitTransactionCost()">{{debitTransactionCost()}}</span>
                </div>
            </div>
        </div>
    </div>
</div>