transaction {
    .card {
        margin: 0;
        position: relative;
    }
    .card-inner {
        display: flex;
        .content {
            flex: 1 0;
            display: flex;
            .connector {
                width: 3px;
                background: color($colors, light-blue, base);
                position: absolute;
                left: 31px;
                &.touchon {
                    top: 0;
                    height: 28px;
                    &.nexttouchon {
                        top: 0;
                        height: auto;
                        bottom: 0;
                    }
                }
                &.touchoff {
                    top: 28px;
                    bottom: 0;
                }
            }
            >.icon {
                width: 32px;
                height: 32px;
                border-radius: 32px;
                margin-right: 1em;
                background: #ccc;
                color: white;
                position: relative;
                text-align: center;
                &.touchon {
                    background: #7ED321;
                }
                &.touchoff {
                    background: #FF943C;
                }
                &.topup {
                    background: #3CBCFF;
                }
                ion-icon {
                    margin: 6px;
                    width: 20px;
                    height: 20px;
                }
            }
            .detail {
                flex: 1 0;
                .meta {
                    display: flex;
                    flex: 1 0;
                    font-size: 13px;
                    margin-bottom: 0.3em;
                    .type {
                        flex: 1 0;
                        color: color($colors, dark, base);
                    }
                    .date {
                        color: color($colors, gray, base);
                        text-align: right;
                        margin-left: 1em;
                    }
                }
                .action {
                    display: flex;
                    flex: 1 0;
                    line-height: 1.5;
                    .description {
                        flex: 1 0;
                        color: color($colors, black, base);
                    }
                    .zone {
                        color: color($colors, light-blue, base);
                        font-weight: 300;
                        text-align: right;
                        margin-left: 1em;
                    }
                }
                .cost {
                    color: color($colors, brand-dark, base);
                    margin-top: 0.5em;
                }
            }
        }
    }
}