transaction {
    .card {
        margin: 0;
    }
    .card-inner {
        display: flex;
        .content {
            flex: 1 0;
            display: flex;
            >.icon {
                width: 32px;
                height: 32px;
                margin-right: 1em;
                position: relative;
                text-align: center;
                .method {
                    color: color($colors, light-blue, base);
                    width: 100%;
                    height: 100%;
                    ion-icon {
                        width: 100%;
                        height: 100%;
                    }
                }
                .type {
                    position: absolute;
                    bottom: -6px;
                    right: -2px;
                }
            }
            .detail {
                flex: 1 0;
                .meta {
                    display: flex;
                    flex: 1 0;
                    font-size: 13px;
                    margin-bottom: 0.3em;
                    .type {
                        flex: 1 0;
                        color: color($colors, dark, base);
                    }
                    .date {
                        color: color($colors, gray, base);
                        text-align: right;
                        margin-left: 1em;
                    }
                }
                .action {
                    display: flex;
                    flex: 1 0;
                    line-height: 1.5;
                    .description {
                        flex: 1 0;
                        color: color($colors, black, base);
                    }
                    .zone {
                        color: color($colors, light-blue, base);
                        font-weight: 300;
                        text-align: right;
                        margin-left: 1em;
                    }
                }
            }
        }
    }
    .cost {
        border-top: 1px solid color($colors, light, base);
        color: color($colors, dark, base);
        font-size: 13px;
        .info {
            display: flex;
            width: 100%;
            div {
                &:nth-child(1) {
                    flex: 1 0;
                }
                &:nth-child(2) {
                    text-align: right;
                }
                strong {
                    font-weight: 600;
                }
            }
        }
    }
}